:root {
	--main-color: #1700FF;
	--secondary-color: #e4e6eb;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
}

header {
	background-color: #f8f8f8;
	padding: 20px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

h1 {
	margin: 0;
	font-size: 36px;
}

main {
	max-width: 960px;
	margin: 0 auto;
}

section {
	margin-bottom: 30px;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

p {
	margin: 0;
}

q, blockquote {
	font-style: italic;
	color: var(--main-color);
	border-left: 2px solid var(--main-color);
	padding-left: 20px;
	display: block;
}

.chat-message, .chat-message-user {
	display: flex;
    flex-direction: row;
	background: var(--secondary-color);
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 10px;
    max-width: 60%;
}

.chat-message-user {
	background: var(--main-color);
    color: #fff;
	margin-left: auto;
}

a {
	color: black;
	transition: color 0.25s ease-in-out;
}

a:hover {
	color: var(--main-color);
}

footer {
	background-color: #f8f8f8;
	padding: 20px;
	box-shadow: 0px -2px 5px rgba(0,0,0,0.1);
	text-align: center;
}

::selection {
	background-color: var(--main-color);
	color: #fff;
}

.chat-message-user::selection {
	background-color: var(--secondary-color);
	color: #000;
}